# Python
venv/
**/venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
logs/
# Environment
.env
env/
**/.env

# Node
**/node_modules
dist/

# System Specific
.DS_Store
.vscode/
.idea

# PNG files
*.png

# Models and datasets
backend/ml/datasets
backend/ml/artifacts/

# Some Claude Code files for planning and experimenting with agentic coding
CLAUDE.md
KUBERNETES.md